@import "../../common/variables.scss";

.badge {
    width: 150px;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    background-color: $color-primary;
    color: white;
}

@media screen and (max-width: $breakpoint-mobile) {
    .badge {
        font-size: 10px;
        width: 84px;
        height: 18px;
        line-height: 18px;
        border-radius: 5px;
    }
}