@import "../../common/variables.scss";

.fiche {

}

.container-fiche {
    height: 100%;
    border-radius: 25px;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    .header-fiche {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        gap:10px;
        .ligne-haut {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .title-fiche {
                font-size: 36px;
                font-weight: 500;
            }
            .author {
                display: flex;
                gap: 10px;
                flex-direction:row;
                align-items: center;
                .author-name {
                    width: 93px;
                    // height: 52px;
                    font-size: 18px;
                    font-weight: 500;
                    color: $color-primary;
                    text-align: end;
                }
                .author-picture {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    background-color: $color-dark-grey;
                }
            }
            .location {
                font-size: 18px;
                font-weight: 500;
            }
        }
        .ligne-bas {
            display: flex;
            justify-content: space-between;
            .badges {
                margin-top: 1em;
                display:flex;
                gap: 1em;
            }
        }
    }

    .description-fiche {
        display: flex;
        gap: 3em;
        padding-top: 2em;
    }
}