@import "../../common/variables.scss";

.header {
  .logo-kasa {
    width: 210px;
    height: 68px;
    margin-bottom: 2em;
  }
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  width: 100%;
}

.nav-menu {
  font-size: 24px;
  font-weight: 500;
  ul {
    display: flex;
    li {
      list-style: none;
      .underlined {
        text-decoration: underline;
      }
      a {
        text-decoration: none;
        color: $color-primary;
        padding-left: 1em;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .header {
    padding-top: 0.5rem;
    .logo-kasa {
      width: 145px;
      margin-bottom: 0.5em;
    }
  }
  .nav-menu {
    font-size: 13px;
    padding: 0;
    ul {
      padding: 0;
      li {
        padding: 10px;
        a {
          padding: 0;
        }
      }
    }
  }
}
