@import "../../common/variables.scss";

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$color-primary;
    .error-code {
        font-weight: 700;
        font-size: 288px;
    }
    .error-detail {
        padding-bottom: 3em;
        font-weight: 500;
        font-size: 36px;
    }
    .error-action {
        text-decoration: none;
        color:$color-primary;
    }
}
